* {
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #084164;
    color: #fff;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    height: 90% ;
    width: 90%;
    max-width: 1000px;
    margin: 10%;
    overflow: hidden;
    padding: 0 20px;
}

.display {
    max-width: 700px;
    width: 100%;
   
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
    flex-wrap: wrap; /* Ensures responsiveness */
}

.container h1 {
    font-weight: 500;
    font-size: 45px;
}

.container h1 span {
    color: #019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 7px;
}

.display img {
    width: 30px;
    cursor: pointer;
}

.display input {
    border: 0;
    outline: 0;
    font-size: 24px;
    flex: 1; /* Allow input to take available space */
    min-width: 0;
}

.container button img {
    width: 28px;
    margin-right: 10px;
}

.container button {
    border: 0;
    outline: 0;
    background: #019f55;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Full width on mobile */
    max-width: 280px;
    margin-top: 20px;
}

#alert {
    background: #019f55;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; 
    opacity: 0;
    transition: opacity 0.5s ease-in-out; 
    pointer-events: none; 
}

#alert.show {
    opacity: 1; 
    pointer-events: auto; 
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

/* Media queries for responsiveness */
@media (max-width: 600px) {
    .container {
        margin: 20% 5%; /* Adjust margins on smaller screens */
        padding: 0 10px;
    }

    .container h1 {
        font-size: 36px; /* Smaller font size on mobile */
    }

    .display {
        width: auto;
        height: 75px;
        padding: 20px;
        flex-direction: column; /* Stack elements vertically */
        align-items: stretch;
    }

    .display input {
        font-size: 20px; /* Adjust input font size */
        margin-bottom: 10px; /* Space between input and image */
    }

    .display img {
        align-self: flex-end; /* Align copy button to the end */
    }

    .container button {
        font-size: 20px; /* Adjust button font size */
    }
}
